.rule-text {
    text-align: left;
}

.buttons-div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.difficulty-div {
    padding: 20px;
}